/* Empty. Add your own CSS if you like */

.centered-welcome-button {
  position: absolute;
  left: 50%;
  bottom: 50px;
}

.button-welcome {
  right: 50%;
  width: 150px;
  height: 150px;

  font-size: 2em;
  font-weight: bold;
}

.button-circle {
  border-radius: 100%;
}

.button-right {
  float: right;
}
