/* Empty. Add your own CSS if you like */

.background-images {
  width: 300%;
  height: 100%;

  -webkit-animation: slide 20s infinite alternate; /* Safari 4+ */
  -moz-animation:    slide 20s infinite alternate; /* Fx 5+ */
  -o-animation:      slide 20s infinite alternate; /* Opera 12+ */
  animation:         slide 20s infinite alternate;
}

.background-images > div {
  float: left;
  width: 33.3333%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.background-images .bg-1 {
  background-image: url(../img/bg1.jpg);
}

.background-images .bg-2 {
  background-image: url(../img/bg2.jpg);
}

.background-images .bg-3 {
  background-image: url(../img/bg3.jpg);
}

@-webkit-keyframes slide {
  0%   { -webkit-transform: translate3d(0%,0,0); transform: translate3d(0%,0,0); }
  20% { -webkit-transform: translate3d(0%,0,0); transform: translate3d(0%,0,0); }
  30% { -webkit-transform: translate3d(-33.3333%,0,0); transform: translate3d(-33.3333%,0,0); }
  70% { -webkit-transform: translate3d(-33.3333%,0,0); transform: translate3d(-33.3333%,0,0); }
  80% { -webkit-transform: translate3d(-66.6666%,0,0); transform: translate3d(-66.6666%,0,0); }
  100% { -webkit-transform: translate3d(-66.6666%,0,0); transform: translate3d(-66.6666%,0,0); }
}
@-moz-keyframes slide {
  0%   { -webkit-transform: translate3d(0%,0,0); transform: translate3d(0%,0,0); }
  20% { -webkit-transform: translate3d(0%,0,0); transform: translate3d(0%,0,0); }
  30% { -webkit-transform: translate3d(-33.3333%,0,0); transform: translate3d(-33.3333%,0,0); }
  70% { -webkit-transform: translate3d(-33.3333%,0,0); transform: translate3d(-33.3333%,0,0); }
  80% { -webkit-transform: translate3d(-66.6666%,0,0); transform: translate3d(-66.6666%,0,0); }
  100% { -webkit-transform: translate3d(-66.6666%,0,0); transform: translate3d(-66.6666%,0,0); }
}
@-o-keyframes slide {
  0%   { -webkit-transform: translate3d(0%,0,0); transform: translate3d(0%,0,0); }
  20% { -webkit-transform: translate3d(0%,0,0); transform: translate3d(0%,0,0); }
  30% { -webkit-transform: translate3d(-33.3333%,0,0); transform: translate3d(-33.3333%,0,0); }
  70% { -webkit-transform: translate3d(-33.3333%,0,0); transform: translate3d(-33.3333%,0,0); }
  80% { -webkit-transform: translate3d(-66.6666%,0,0); transform: translate3d(-66.6666%,0,0); }
  100% { -webkit-transform: translate3d(-66.6666%,0,0); transform: translate3d(-66.6666%,0,0); }
}
@keyframes slide {
  0%   { -webkit-transform: translate3d(0%,0,0); transform: translate3d(0%,0,0); }
  20% { -webkit-transform: translate3d(0%,0,0); transform: translate3d(0%,0,0); }
  30% { -webkit-transform: translate3d(-33.3333%,0,0); transform: translate3d(-33.3333%,0,0); }
  70% { -webkit-transform: translate3d(-33.3333%,0,0); transform: translate3d(-33.3333%,0,0); }
  80% { -webkit-transform: translate3d(-66.6666%,0,0); transform: translate3d(-66.6666%,0,0); }
  100% { -webkit-transform: translate3d(-66.6666%,0,0); transform: translate3d(-66.6666%,0,0); }
}

.centered-welcome-button {
  position: absolute;
  left: 50%;
  bottom: 50px;
}

.button-welcome {
  right: 50%;
  width: 150px;
  height: 150px;

  font-size: 2em;
  font-weight: bold;
}

.button-circle {
  border-radius: 100%;
}

.button-right {
  float: right;
}

.registered {
  line-height: 31px;
  vertical-align: middle;
}

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.entryTitle {
	font-weight: bold;
}

.detailTitle {
	font-weight: bold;
	font-size:1.8em;
}

.generalPadding {
	  padding: 10px 0 2px 16px;
}

.done .item-content {
  border-left: 10px solid rgba(13, 148, 13, 0.8);;
}
