<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-dark icon-left ion-chevron-left" ng-click="closeUpload()">Cancel</button>
    </div>
    <h1 class="title">Upload Image</h1>
    <div class="buttons">
      <button class="button button-clear button-dark icon-right ion-checkmark" ng-click="doUpload()">OK</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <img ng-src="{{photo}}">
    <button class="button button-light" ng-click="changeImage()">Select other photo</button>
  </ion-content>
</ion-modal-view>
