<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="loginForm" novalidate ng-submit="doLogin(loginData)">
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Username" ng-model="loginData.username">
        </label>
        <label class="item item-input item-floating-label" ng-class="{ 'has-error' : error}">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="loginData.password">

        </label>
        <div class="form-errors" ng-show="error" >
          <div class="form-error" > {{errorMessage}}</div>
        </div>
        <button class="button button-block button-positive" type="submit">
          Log in
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
