<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-assertive" ng-click="closeDetail()">Cancel</button>
    </div>
    <h1 class="title">Need Detail</h1>
  </ion-header-bar>
  <ion-content>
    <p class="tags detailTitle">
      <span ng-repeat="tag in detailNeed.tags">{{tag}} </span>
    </p>
    <p class="date">{{detailNeed.startDate | date:'short'}} - {{detailNeed.endDate | date:'short'}}</p>
    <p class="description">{{detailNeed.description}}</p>
    <p class="amount">{{detailNeed.remaining}}</p>
    <h3>Contact</h3>
    <p>{{detailNeed.user.name}}</p>
    <p>{{detailNeed.user.phone}}</p>
    <p>{{detailNeed.location}}</p>
    <form class="fulfill-form" ng-submit="doFulfillment()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Until Date</span>
          <input type="date" placeholder="dd.mm.yyyy" ng-model="fulfillment.untilDate">
        </label>
        <label class="item item-input">
          <span class="input-label">Amount</span>
          <input type="number" placeholder="Amount" ng-model="fulfillment.amount">
        </label>
      </div>
      <button class="button button-block button-positive" type="submit">Fulfill</button>
    </form>
  </ion-content>
</ion-modal-view>
