  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="All" icon="ion-home" ui-sref="app.needs.all">
      <ion-nav-view name="all-tab">test</ion-nav-view>
    </ion-tab>

    <ion-tab title="By Me" icon="ion-home" ui-sref="app.needs.byme">
      <ion-nav-view name="byme-tab">test</ion-nav-view>
    </ion-tab>

    <ion-tab title="For Me" icon="ion-ios-information" ui-sref="app.needs.forme">
      <ion-nav-view name="forme-tab">test2</ion-nav-view>
    </ion-tab>

    <ion-tab title="To Do" icon="ion-ios-world" ui-sref="app.needs.todo">
      <ion-nav-view name="todo-tab">asdf</ion-nav-view>
    </ion-tab>

  </ion-tabs>




