<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-assertive" ng-click="closeCreate()">Cancel</button>
    </div>
    <h1 class="title">Create/Edit Need</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="doCreate()">Save</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Start Date</span>
        <input type="date" placeholder="Start Date">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">End Date</span>
        <input type="date" placeholder="End Date">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <textarea placeholder="Description"></textarea>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Amount</span>
        <input type="number" placeholder="Amount">
      </label>
    </div>
  </ion-content>
</ion-modal-view>
