<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-assertive" ng-click="closeSubscribe()">Cancel</button>
    </div>
    <h1 class="title">Create/Edit Subscription</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="doSubscribe()">Save</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Tags</span>
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="subscription.tags" items-method="callbackMethod(query)"/>
      </label>
      <label class="item item-input">
        <span class="input-label">Start Date</span>
        <input type="date" placeholder="yyyy-MM-dd" ng-model="subscription.startDate">
      </label>
      <label class="item item-input">
        <span class="input-label">End Date</span>
        <input type="date" placeholder="yyyy-MM-dd" ng-model="subscription.endDate">
      </label>
    </div>
  </ion-content>
</ion-modal-view>
