<ion-view>
  <ion-header-bar>
    <h1 class="title">Registration</h1>
  </ion-header-bar>
  <ion-content>
    <p class="clearfix">Already registered? <button class="button button-small button-light button-right" ng-click="login()">Log in</button></p>
    <form novalidate ng-submit="doRegistration(user)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.username">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Full Name" ng-model="user.name">
        </label>
        <label class="item item-input">
          <input type="tel" placeholder="Phone" ng-model = "user.phone">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model = "user.password">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Confirm Password" ng-model="user.confirmPw">
        </label>
        <button class="button button-block button-positive" type="submit">
          Submit
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
